.clear {
	clear: both;
}

body{
	width:100%;
	margin:0px auto;
	padding:0px;
}

/*PAGE*/
#page{
	background: url("../Images/background.png") repeat scroll 0 0 #000;
	width: 100%;
	min-width: 1063px;
	overflow-x: hidden;
}

/*FOOTER*/
#footer{
    background-color: #000;
    height: 22px;
    padding-top: 8px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
}

/*HEADER*/
#header{
	background: #000;
	height: 416px;
}

#header #image{
	background: url("../Images/header_image.png") no-repeat scroll center 0 rgba(0, 0, 0, 0);
    display: block;
    height: 371px;
}

#header #logo{
    display: block;
    height: 100px;
    margin: 0 auto;
    padding-left: 120px;
    padding-top: 20px;
    position: relative;
    width: 860px;
}


/*MENU*/
#menu{
	background-color: #000000;
	height: 45px;
    margin: 0 auto;
    position: relative;
    width: 980px;
}

#menu ul{
	float: left;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

#menu ul li a,
#sprachmenue {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 5px;
    padding: 7px 17px;
    display: inline-block;
    height: 17px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: #fff;
}

#sprachmenue {
	float: right;
}

#sprachmenue a {
	color: #fff;
	text-decoration:none;
}

#sprachmenue span.active {
	font-weight:bold;
}

#sprachmenue span.notAvailable {
	color:#888;
}

#menu ul li.current a, #menu ul a:hover, #menu ul li:hover a {
    border: 1px solid #fff;
    padding: 6px 16px 7px;
}

#menu ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

#menu ul li {
	display: inline-block;
	position: relative;
}

#menu ul li ul.level2 {
	position: absolute; 
	top: 45px;
	left:0px; 
	background-color: white; 
	z-index: 100;
	width: 181px;
	padding: 15px 19px;
	display: none;
}


#menu ul li:hover ul.level2 {
	display: block;
}

#menu ul.level2 li{
	padding:0;
	/*border-bottom: 1px solid #CCC;*/
	display:block;
}

#menu ul.level2 li a,  #menu ul li.current ul li a, #menu ul.level2 li a:hover{
	color: #333333;
	font-size: 13px;
	padding: 3px 0;
	margin:0;
	line-height: 18px;
	border:0;
	display: block;
	border-bottom: 1px solid #CCC;
}

#menu ul li ul li a.last,  #menu ul li.current ul li a.last,#menu ul.level2 li a.last:hover{
	border: 0;
}

#menu ul.level3 {
	float: none;
	padding-left: 13px;
}

#menu ul.level3 li a, #menu ul.level3 li a:hover{
	color: #AAA;
	line-height: 18px;
	border-bottom: 0;
}

#menu ul.level3 li {
	border: 0;
	padding:0;
	background-color: 0;
}

/*DEFAULT BODYTEXT*/
.csc-default .bodytext{
	font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #333;
    margin: 0;
    padding-bottom: 20px;
}

#breadcrumb {
	padding: 7px 5px 7px 0;
	color: #333;
	font-size: 14px;
	font-family: Arial, sans-serif;
}

#breadcrumb a{
	text-decoration: none;
	color: #333;
}



/*HEADLINES*/
.csc-default h1{
	font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 28px;
    color: #B6A14F;
    margin: 0;
    padding-bottom: 30px;
}

.csc-default h2{
	font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding-bottom: 10px;
}


/*CONTENT*/
#page #content{
	width: 980px;
	margin: 0 auto;
	position: relative;
}

#page #content #oneColumn{
	padding: 40px;
}

#page #content #leftColumn{
	padding: 40px 0 40px 40px;
	float: left;
	width: 439px;
}

#page #content #rightColumn{
	padding: 40px 40px 40px 0;
	float: right;
	width: 439px;
}

#page .info{
	width: 900px;
	height: 183px;
	margin: 0 auto;
	position: relative;
	padding-left: 40px;
    padding-right: 40px;
}

#page .info-background{
	padding-top: 20px;
	padding-bottom: 40px;
	background-color: rgba(255,255,255,0.3);
	border-top: #bcb4b2;
}

#page .info img{
	float: right;
}

#page .info .text{
	width: 233px;
	float: left;
	padding-left: 30px;
}

#page .info h3{
	font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 28px;
    color: #9a9fa4;
    margin: 20px 0;
}

#page .info p{
	font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #333;
    margin: 0;
}

#page .info .infoLeft{
	float: left;
	width: 439px;
	background-color: #fff;
	height: 183px;
}

#page .info .infoRight{
	float: right;
	width: 430px;
	background-color: #fff;
	height: 183px;
}